{% load format_utils %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for venta in datos_venta %}
        <title>Carta CN - {{ venta.id_venta }}
            -{{ venta.id_cliente.nombres_1 }} {{ venta.id_cliente.apellidos_1 }}</title>
    {% endfor %}
    <style>
        .tabla1 {
            width: 50%;
            margin: auto; /* Esto centrará la tabla en el contenedor */
            border-collapse: collapse;
        }

        .tabla1 th, .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
            text-align: center; /* Esto centrará el contenido */
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

<div>
    <!-- Invoice -->
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <img src="{{ icon }}" width="150" height="75">
                    </div>
                    <br>
                </div>

                <div>
                    <!-- Titulo -->
                    <table>
                        <thead>
                        <tr>
                            <th><!-- La columna no tiene titulo --></th>
                        </tr>
                        </thead>
                        <tbody>
                        <td>
                            <tr>
                        <td style="text-align: center">Inmobiliaria Costanera Pacífico</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">{{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}</td>
                        </tr>
                        </td>
                        </tbody>
                    </table>
                    <!-- Fin Titulo -->

                    <!-- Encabezado carta -->
                    {% for venta in datos_venta %}
                        <p>Fecha de la carta</p>
                        <p>
                            Señor(a): {{ datos_venta.0.id_cliente.nombres_1 }} {{ datos_venta.0.id_cliente.apellidos_1 }}
                            <br>
                            RUT: {{ datos_venta.0.id_cliente.rut_cliente }}</p>
                    {% endfor %}
                    <!-- Fin Encabezado carta -->

                    <!-- Saludo y datos depto carta -->
                    <p>De nuestra consideración:
                        <br>
                        Por la presentenos es grato saludarlo(a) y a la vez informarle las condiciones del cierre de
                        negocio:
                        <br>
                        {% for venta in datos_venta %}
                            Departamento
                            N°{{ venta.id_propiedad.numero_propiedad }},
                            BODEGA N° {{ venta.id_propiedad.bodega }},
                            ESTACIONAMIENTO N° {{ venta.id_propiedad.estacionamiento }}, por
                            un valor de {{ venta.id_propiedad.valor_final_propiedad }} UF.
                            <br>
                            Condominio: {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }}
                            {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}
                            </p>
                        {% endfor %}
                    <!-- Saludo y datos depto carta -->
                    <hr>
                    <div>
                        <h3>Forma de pago UF</h3>
                    </div>
                    <!-- Forma de pago -->
                    <table class="tabla1">
                        <thead class="table-light">
                        <tr>
                            <th>Concepto</th>
                            <th>Monto UF</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Reserva</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <td>Pie Contado</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <td>Saldo a pagar Contado</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>aaa</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Fin Forma de pago -->
                    <hr>
                    <div>
                        <h3>Cierre de Negocio</h3>
                    </div>
                    <!-- Cierre de Negocio -->
                    {% if datos %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dato in datos %}
                                <tr>
                                    {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>{{ dato.uf_pago|uf_format }}</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4' align='center'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Cierre de Negocio -->
                    <hr>
                    <div>
                        <h3>Detalle Pie</h3>
                    </div>
                    <!-- Detalle Pie-->
                    {% if datos %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dato in datos %}
                                <tr>
                                    {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>{{ dato.uf_pago|uf_format }}</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4' align='center'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Detalle Pie-->
                    <hr>
                    <p>Los valores señalados en recuadro son referenciales y calculados a valor UF de hoy.
                        Los pagos se imputan contablemente según se indica en clausula número CUARTA de la Promesa de
                        Compraventa:
                    </p>
                    <p>“ …. Las sumas entregadas por el Promitente Comprador, referidas en los literales a) referente a
                        “reserva”,
                        b) referente a “Pie” y c) referente a “saldo restante”, de la presente cláusula, se imputarán al
                        precio total,
                        tomándose como criterio de la mencionada imputación, las sumas convertidas a Unidades de Fomento
                        según valor de ésta al momento del COBRO EFECTIVO de los documentos entregados por el Promitente
                        Comprador.</p>
                    <p>En concordancia con lo anterior, se le informa que será de su exclusiva responsabilidad el
                        cumplimiento y
                        mantención de los requisitos necesarios para materializar la compra de su Departamento, poseer
                        capacidad financiera suficiente para su adquisición y/o cumplir de modo adecuado las exigencias
                        para
                        acceder a créditos comerciales, de cualquier naturaleza, que permitan financiar la compra
                        ofrecida.
                    </p>
                    <p>Una vez iniciado el proceso de Escrituración deberá pagar los Gastos Operacionales al banco o
                        institución
                        que financiará la adquisición de su departamento.</p>
                    <p>En señal de aceptación y conocimiento de la información contenida en la presente, agradeceremos a
                        usted
                        firmar este documento en dos ejemplares, quedando uno en su poder y otro en su carpeta.</p>
                </div>
            </div>
        </div>
        <hr class="my-0">
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <p style="font-style: italic; font-size: 14px;">
            Gracias por su preferencia. Para consultas, contáctenos a <a href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
        </p>
    </div>
</div>
<!-- /Invoice -->
</body>
</html>