{% extends "admin/base_site.html" %}
{% load format_utils %}
{% load dict_filters %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                                        <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <div>
                        <div>
                            <!-- Invoice -->
                            <p>Estimado Gonzalo, según referencia le hago entrega de los
                                siguientes documentos:

                                {% for venta in datos_venta %}
                                    <br>
                                    Sr(a):{{ datos_venta.0.id_cliente.nombres_1 }}
                                    {{ datos_venta.0.id_cliente.apellidos_1 }}
                                    - {{ datos_venta.0.id_cliente.rut_cliente }}
                                    Depto: {{ datos_venta.0.id_propiedad.numero_propiedad }}</p>
                                {% endfor %}
                            <div>
                                <h3>Información Carta Oferta</h3>
                            </div>
                            <table class="table table-sm table-bordered text-center align-middle">
                                <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3">Nombre Titular</td>
                                    <td colspan="3">Luis Pizarro</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Rut Titular</td>
                                    <td colspan="3">19.257.284-3</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Proyecto</td>
                                    <td colspan="3">Condominio Distrito verde EI</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Etapa</td>
                                    <td colspan="3">-</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Dirección Inmueble</td>
                                    <td colspan="3">Rue Emilio Apey 409, La Serena</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Razón Social Inmobiliaria</td>
                                    <td colspan="3">Inmobiliaria Costanera Pacífico SpA</td>
                                </tr>
                                <tr>
                                    <td colspan="3">RUT</td>
                                    <td colspan="3">76.715.233-7</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Banco Alzante</td>
                                    <td colspan="3">Banco Security</td>
                                </tr>
                                <tr>
                                    <td colspan="6">De no haber Banco Acreedor informar donde se debe efecturar el
                                        pago de este
                                        crédito
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1">Banco a Depositar</td>
                                    <td colspan="2">Banco Feliz</td>
                                    <td>Cta Corriente</td>
                                    <td colspan="2">123-1234-5858-8</td>
                                </tr>
                                <tr>
                                    <td>N° Depto o Casa</td>
                                    <td>303</td>
                                    <td>UF Depto o Casa</td>
                                    <td>2578.0UF</td>
                                    <td>ROL Depto o Casa</td>
                                    <td>1234-1233</td>
                                </tr>
                                <tr>
                                    <td>N° Estacionamiento</td>
                                    <td>28</td>
                                    <td>UF Estacionamiento</td>
                                    <td>150.0UF</td>
                                    <td>Rol Estacionamiento</td>
                                    <td>5858-8596/td>
                                </tr>
                                <tr>
                                    <td>N° Bodega</td>
                                    <td>01</td>
                                    <td>UF Bodega</td>
                                    <td>150.0UF</td>
                                    <td>Rol Bodega</td>
                                    <td>6956-8574</td>
                                </tr>
                                <tr>
                                    <td>Precio Venta</td>
                                    <td>2.500.0UF</td>
                                    <td>Recursos Propios (Pie)</td>
                                    <td>100.0UF</td>
                                    <td>Subsidio</td>
                                    <td>0.0UF</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Ahorro Previo</strong></td>
                                    <td>0.0UF</td>
                                    <td colspan="2"><strong>Monto Credito</strong></td>
                                    <td>0.0UF</td>
                                </tr>
                                 <tr>
                                    <td colspan="3"><strong>Vivienda Social</strong></td>
                                    <td colspan="3">No</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Quien cancela los Gastos Operacionales</td>
                                    <td colspan="3">Luis Pizarro</td>
                                </tr>
                                <tr>
                                    <td colspan="3">En que notaria firma escritura</td>
                                    <td colspan="3">Luis Pizarro</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Observaciones</td>
                                    <td colspan="3">Proyecto Afecto a IVA, incluido en el precio</td>
                                </tr>

                                </tbody>
                            </table>
                            <!-- Documentos-->


                            <p>Atte.,</p>
                            <p>Marta Olivares Castro.</p>
                            <p>Subgerente de Ventas y OO.PP.</p>

                        </div>
                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">

                    <a class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light" target="_blank"
                       href="{% url 'cartaoferta_print' id_venta=id_venta %}">
                        DESCARGAR PDF
                    </a>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
</div>
{% endblock %}