{% load format_utils %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for venta in datos_venta %}
        <title>Carta CN - {{ venta.id_venta }}
            -{{ venta.id_cliente.nombres_1 }} {{ venta.id_cliente.apellidos_1 }}</title>
    {% endfor %}
    <style>
        .tabla1 {
            width: 50%;
            margin: auto; /* Esto centrará la tabla en el contenedor */
            border-collapse: collapse;
        }

        .tabla1 th, .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
            text-align: center; /* Esto centrará el contenido */
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

<div>
    <!-- Invoice -->
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <img src="{{ icon }}" width="150" height="75">
                    </div>
                    <br>
                </div>

                <div>
                    <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                        {% for venta in datos_venta %}
                            <span class="h4 mb-0 app-brand-text fw-semibold">{{ venta.id_propiedad.condominio.empresa_vende.razon_social }} <br>{{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}</span>
                        {% endfor %}
                    </div>
                    <p style="text-align: center"><strong style="font-size: x-large">Carta Cierre de Negocio</strong>
                        <br>La Serena, {{ fecha_hoy|date:"d-M-Y" }}</p>

                    <!-- Fin Titulo -->

                    <!-- Encabezado carta -->
                    {% for venta in datos_venta %}
                        <p style="font-size: large">
                            Señor(a): {{ datos_venta.0.id_cliente.nombres_1 }} {{ datos_venta.0.id_cliente.apellidos_1 }}
                            <br>
                            RUT: {{ datos_venta.0.id_cliente.rut_cliente }}</p>
                    {% endfor %}
                    <!-- Fin Encabezado carta -->

                    <!-- Saludo y datos depto carta -->
                    <p style="font-size: large">De nuestra consideración:
                        <br>
                        Por la presentenos es grato saludarlo(a) y a la vez informarle las condiciones del cierre de
                        negocio:
                        <br>
                        {% for venta in datos_venta %}
                            Departamento
                            N°{{ venta.id_propiedad.numero_propiedad }},
                            BODEGA N° {{ venta.id_propiedad.bodega }},
                            ESTACIONAMIENTO N° {{ venta.id_propiedad.estacionamiento }}, por
                            un valor de {{ venta.id_propiedad.valor_final_propiedad }} UF.
                            <br>
                            Condominio: {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }}
                            {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}
                            {{ venta.id_propiedad.condominio.direccion_proyecto }}
                            </p>
                        {% endfor %}
                    <!-- Saludo y datos depto carta -->
                    <hr>
                    <div>
                        <h3>Forma de pago UF</h3>
                    </div>
                    {% if datos_venta.0.tipo_venta == "Credito" %}
                        <!-- Forma de pago Contado -->
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Concepto</th>
                                <th>Monto UF</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Reserva</td>
                                <td>{{ reserva|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Pie Contado</td>
                                <td>{{ pie_contado|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Saldo a pagar Contado</td>
                                <td>{{ credito_hipotecario|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{ total|uf_format }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Fin Forma de pago Contado -->
                    {% else %}
                        <!-- Forma de pago Crédito -->
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Concepto</th>
                                <th>Monto UF</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Reserva</td>
                                <td>{{ reserva|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Pie Contado</td>
                                <td>{{ pie_contado|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Crédito Hipotecario</td>
                                <td>{{ credito_hipotecario|uf_format }}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{ total|uf_format }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Fin Forma de pago Crédito -->
                    {% endif %}
                    <hr>
                    <div>
                        <h3>Cierre de Negocio</h3>
                    </div>
                    <!-- Cierre de Negocio -->
                    {% if datos %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dato in datos %}
                                <tr>
                                    {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>{{ dato.uf_pago|uf_format }}</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4' align='center'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Cierre de Negocio -->
                    <hr>
                    <div>
                        <h3>Detalle Pie</h3>
                    </div>
                    <!-- Detalle Pie-->
                    {% if datos %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dato in datos %}
                                <tr>
                                    {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>{{ dato.uf_pago|uf_format }}</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4' align='center'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Detalle Pie-->
                    <hr>
                    <p style="font-size: large; text-align: justify">Los valores señalados en recuadro son <u>referenciales
                        y calculados a valor UF de hoy.</u>
                        Los pagos se imputan contablemente según se indica en clausula número <u>CUARTA de la Promesa de
                            Compraventa:</u>
                    </p>
                    <p style="font-size: large; text-align: justify">“... . Las sumas entregadas por el Promitente
                        Comprador, referidas en
                        los literales a) referente
                        a
                        “reserva”, b) referente a “Pie” y c) referente a “saldo restante”, de la presente cláusula, se
                        imputarán al precio total, tomándose como criterio de la mencionada imputación, las sumas
                        convertidas a Unidades de Fomento según valor de ésta al momento del COBRO EFECTIVO de los
                        documentos entregados por el Promitente Comprador.</p>
                    <p style="font-size: large; text-align: justify">En concordancia con lo anterior, se le informa que
                        será de su exclusiva
                        responsabilidad el
                        cumplimiento y mantención de los requisitos necesarios para materializar la compra de su
                        Departamento, poseer capacidad financiera suficiente para su adquisición y/o cumplir de modo
                        adecuado las exigencias para acceder a créditos comerciales, de cualquier naturaleza, que
                        permitan financiar la compra ofrecida.
                    </p>
                    <p style="font-size: large; text-align: justify">Adicionalmente, se deberá abonar el Fondo de Puesta
                        en Marcha (o de
                        Explotación), el cual cubre
                        los costos de operación necesarios para poner en funcionamiento el condominio y sus
                        instalaciones. Este pago es único y se realiza en el momento de la compra del departamento. El
                        monto es equivalente a dos meses de gastos comunes aproximadamente, pero no implica que haya
                        pagado dos gastos comunes reales. Este fondo debe ser pagado a Inmobiliaria Costanera Pacífico
                        III SpA antes de la firma de la escritura, y será transferido a la administración del condominio
                        para su uso.</p>

                    <p style="font-size: large; text-align: justify"><strong>Firma de la Escritura</strong>

                        <br>La firma de la escritura debe llevarse a cabo exclusivamente en la ciudad de La Serena, ya
                        que
                        Inmobiliaria Costanera Pacífico III SpA no tiene representación en otras ciudades. Si no reside
                        en La Serena, le solicitamos amablemente que organice su agenda para viajar y realizar la firma
                        cuando llegue el momento. </p>
                    <p style="font-size: large; text-align: justify"><strong>Entrega de la Propiedad
                    </strong>

                        <br>Inmobiliaria Costanera Pacífico III SpA no realiza pre-entregas ni permite visitas previas a
                        la entrega formal de la propiedad, para garantizar que todas las instalaciones y detalles estén
                        completamente listos antes de la recepción. Sin embargo, contamos con departamentos piloto
                        idénticos al modelo adquirido, donde podrás conocer en detalle las características del inmueble.
                        Es importante mencionar que los papeles murales con diseño presentados en algunas paredes de los
                        departamentos piloto son solo decoración y no forman parte del equipamiento definitivo del
                        departamento.
                        La coordinación para la entrega se gestionará una vez firmada la escritura de compraventa y
                        estará sujeta a la disponibilidad del calendario correspondiente.</p>
                    <p style="font-size: large; text-align: justify"><strong>Aceptación de Condiciones</strong>

                        <br>Como señal de aceptación y conocimiento de la información proporcionada en este documento,
                        solicitamos su firma en dos ejemplares. Uno de ellos quedará en su poder y el otro será
                        archivado en su carpeta correspondiente. </p>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <table align="center" width="40%">
                        <tr>
                            <td style="border-top: 1px solid black; padding-top: 6px; text-align: center;">
                                <strong style="font-size: 11pt;">{{ datos_venta.0.id_cliente.nombres_1 }} {{ datos_venta.0.id_cliente.nombres_2 }} {{ datos_venta.0.id_cliente.apellidos_1 }} {{ datos_venta.0.id_cliente.apellidos_2 }}</strong><br>
                                <strong style="font-size: 10pt;">Rut: {{ datos_venta.0.id_cliente.rut_cliente }}</strong>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <table align="center" width="40%">
                        <tr>
                            <td style="border-top: 1px solid black; padding-top: 6px; text-align: center;">
                                <strong style="font-size: 11pt;">{{ datos_venta.0.id_propiedad.condominio.empresa_vende.representante }}</strong><br>
                                <strong style="font-size: 10pt;">Rut: {{ datos_venta.0.id_propiedad.condominio.empresa_vende.rut_representante }}</strong>
                                <strong style="font-size: 10pt;"><br>pp. {{ datos_venta.0.id_propiedad.condominio.empresa_vende.razon_social }}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Invoice -->
<p style="text-align: right; font-size: 10px; font-style: italic;">
    Fecha de impresión: {{ fecha_hoy|date:"d/m/Y h:i:s A" }}
</p>
</body>
</html>