{% extends "admin/base_site.html" %}
{% load format_utils %}
{% load dict_filters %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card shadow-sm border rounded">
                    <div class="card-body">
                        <div>
                            <h5 style="text-align: center">{{ datos_venta.0.id_propiedad.condominio.empresa_vende.razon_social }}
                                <br> {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}
                            </h5>
                            <!-- Invoice -->
                            <p style="text-align: center"><strong style="font-size: x-large">Entrega de
                                Documentos</strong>
                                <br>La Serena, {{ fecha_hoy|date:"d-M-Y" }}</p>
                        </div>

                        <!-- Encabezado carta -->
                        <p style="font-size: large">A: Gonzalo Valdes, Depto de Contabilidad
                            <br>De: Marta Olivares Castro
                            <br>Ref: Entrega
                            documentos, {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}
                            <br>Fecha: {{ fecha_hoy|date:"d-M-Y" }} </p>
                        <!-- Fin Encabezado carta -->
                        <hr>
                        <p style="font-size: large">Estimado Gonzalo, según referencia le hago entrega de los
                            siguientes documentos:

                            {% for venta in datos_venta %}
                                <br>
                                Sr(a):{{ datos_venta.0.id_cliente.nombres_1 }}
                                {{ datos_venta.0.id_cliente.apellidos_1 }}
                                - {{ datos_venta.0.id_cliente.rut_cliente }}
                                Depto: {{ datos_venta.0.id_propiedad.numero_propiedad }}</p>
                            {% endfor %}
                        <hr>
                        <div>
                            <h3>Documentos</h3>
                        </div>
                        <!-- Documentos-->
                        {% if datos %}
                            <table class="table table-sm table-bordered text-center align-middle">
                                <thead class="table-light">
                                <tr>
                                    <th>Banco</th>
                                    <th>Forma de pago</th>
                                    <th>N° Documento</th>
                                    <th>Fecha</th>
                                    <th>Reserva</th>
                                    <th>Pie</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dato in datos %}
                                    <tr>
                                        {% if dato.id_categoria_pago.id_categoria_pago == 1 %}
                                            <td>{{ dato.id_banco }}</td>
                                            <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                            <td>{{ dato.num_documento }}</td>
                                            <td>{{ dato.fecha_real_pago }}</td>
                                            <td>{{ dato.monto_pago|clp_format }}</td>
                                            <td>-</td>
                                        {% endif %}
                                        {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                            <td>{{ dato.id_banco }}</td>
                                            <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                            <td>{{ dato.num_documento }}</td>
                                            <td>{{ dato.fecha_real_pago }}</td>
                                            <td>-</td>
                                            <td>{{ dato.monto_pago|clp_format }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table" style="min-height:200px">
                                <thead class="table-light">
                                <tr>
                                    <th>Banco</th>
                                    <th>Forma de pago</th>
                                    <th>N° DOcumento</th>
                                    <th>Fecha</th>
                                    <th>Reserva</th>
                                    <th>Pie</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr>
                                    <td colspan='4' align='center'><span
                                            class="border-info me-1"><i
                                            class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        <!-- Fin Detalle Pie-->
                        <p style="font-size: large">Atte.,</p>
                        <p style="font-size: large">{{ datos_venta.0.id_propiedad.condominio.empresa_vende.gerente_ventas }}.</p>
                        <p style="font-size: large">Subgerente de Ventas y OO.PP.</p>
                        <hr class="my-0">
                        <div style="margin-top: 20px; text-align: center;">
                            <div class="mt-4">
                                <a class="btn btn-outline-primary" href="{% url 'ccn_print' id_venta=id_venta %}"
                                   target="_blank">
                                    Descargar PDF
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}