<!DOCTYPE html>
{% load format_utils %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for venta in datos_venta %}
        <title>Memo Documentos - {{ venta.id_venta }}
            -{{ venta.id_cliente.nombres_1 }} {{ venta.id_cliente.apellidos_1 }}</title>
    {% endfor %}
    <style>
        .tabla1 {
            width: 50%;
            margin: auto; /* Esto centrará la tabla en el contenedor */
            border-collapse: collapse;
        }

        .tabla1 th, .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
            text-align: center; /* Esto centrará el contenido */
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

<div>
    <!-- Invoice -->
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <img src="{{ icon }}" width="150" height="75" alt="">
                    </div>
                    <br>
                </div>

                <div>
                    <!-- Encabezado carta -->
                    <p style="font-size: large">Estimado (a),
                        <br>{{ datos_venta.0.id_cliente.nombres_1 }}
                        {{ datos_venta.0.id_cliente.apellidos_1 }}
                        - {{ datos_venta.0.id_cliente.rut_cliente }}:
                    </p>
                    <p style="font-size: large">Presente:
                        <br>Junto con saludar, Inmobiliaria Costanera Pacifico S.P.A, tiene el agrado de
                        saludarle y hacer entrega de Escritura de Compra Venta, debidamente inscrita en
                        Conservador de Bienes Raíces La Serena Sr. Jaime Morande Miranda, certificado de
                        Gravámenes y Prohibiciones, y Derecho de Uso y Goce de Estacionamiento y factura de
                        venta del departamento.
                    </p>
                    <div>
                        <h3>Arqueo Fondo a rendir</h3>
                    </div>
                    <!-- Memo ggoo-->
                    {% if datos %}
                        <table class="tabla1">
                            <thead class="table-light">
                            <tr>
                                <th>Ingreso Fondo a Rendir</th>
                                <th>Egresos</th>
                                <th>N° Boleta</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>$0.-</td>
                                <td>Estudio de titulo y confección de escritura</td>
                                <td>-</td>
                                <td>$0.-</td>
                            </tr>
                            <tr>
                                <td>$0.-</td>
                                <td>Inscripcción CBR</td>
                                <td>-</td>
                                <td>$0.-</td>
                            </tr>

                            <tr>
                                <td>Total</td>
                                <td style="text-align: center;"> -</td>
                                <td> -</td>
                                <td>$0.-</td>
                            </tr>
                            <tr>
                                <td>Saldo a Reembolsar</td>
                                <td style="text-align: center;"> -</td>
                                <td> -</td>
                                <td>$0.-</td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1" style="min-height:200px">
                            <tr>
                                <th>Ingreso Fondo a Rendir</th>
                                <th>Egresos</th>
                                <th>N° Boleta</th>
                                <th>Monto</th>
                            </tr>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Memo ggoo-->
                    <p style="font-size: large">Este saldo será reeembolsado en su cuenta corriente
                        <br> Agradeciendo su elección se despide cordialmente </p>
                    <p style="font-size: large">Atte.,</p>
                    <p style="font-size: large">{{ datos_venta.0.id_propiedad.condominio.empresa_vende.gerente_ventas }}</p>
                    <p style="font-size: large">Subgerente de Ventas y OO.PP.</p>
                </div>
            </div>
        </div>
        <hr class="my-0">
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <p style="font-style: italic; font-size: 14px;">
            Gracias por su preferencia. Para consultas, contáctenos a <a href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
        </p>
    </div>
</div>
<!-- /Invoice -->
</body>
</html>