<!DOCTYPE html>
{% load format_utils %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for venta in datos_venta %}
        <title>Memo Documentos - {{ venta.id_venta }}
            -{{ venta.id_cliente.nombres_1 }} {{ venta.id_cliente.apellidos_1 }}</title>
    {% endfor %}
    <style>
        .tabla1 {
            width: 50%;
            margin: auto; /* Esto centrará la tabla en el contenedor */
            border-collapse: collapse;
        }

        .tabla1 th, .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
            text-align: center; /* Esto centrará el contenido */
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

<div>
    <!-- Invoice -->
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <img src="{{ icon }}" width="150" height="75" alt="">
                    </div>
                    <br>
                </div>

                <div>
                    <!-- Encabezado carta -->
                    <p style="font-size: large">A: Gonzalo Valdes, Depto de Contabilidad
                        <br>De: Marta Olivares Castro
                        <br>Ref: Entrega
                        documentos, {{ datos_venta.0.id_propiedad.condominio.nombre_condominio }} {{ datos_venta.0.id_propiedad.etapa.nombre_etapa }}
                        <br>Fecha: {{ fecha_hoy|date:"d-M-Y" }} </p>
                    <!-- Fin Encabezado carta -->

                    <p style="font-size: large">Estimado Gonzalo, según referencia le hago entrega de los
                        siguientes documentos:

                        {% for venta in datos_venta %}
                            <br>
                            Sr(a):{{ datos_venta.0.id_cliente.nombres_1 }}
                            {{ datos_venta.0.id_cliente.apellidos_1 }}
                            - {{ datos_venta.0.id_cliente.rut_cliente }}
                            Depto: {{ datos_venta.0.id_propiedad.numero_propiedad }}</p>
                        {% endfor %}
                    <hr>
                    <div>
                        <h3>Documentos</h3>
                    </div>
                    <!-- Detalle Pie-->
                    {% if datos %}
                        <table class="tabla1">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° Documento</th>
                                <th>Fecha</th>
                                <th>Reserva</th>
                                <th>Pie</th>
                            </tr>
                            <tbody>
                            {% for dato in datos %}
                                <tr>
                                    {% if dato.id_categoria_pago.id_categoria_pago == 1 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                        <td>-</td>
                                    {% endif %}
                                    {% if dato.id_categoria_pago.id_categoria_pago == 2 %}
                                        <td>{{ dato.id_banco }}</td>
                                        <td>{{ dato.id_forma_pago.nombre_forma_pago }}</td>
                                        <td>{{ dato.num_documento }}</td>
                                        <td>{{ dato.fecha_real_pago }}</td>
                                        <td>-</td>
                                        <td>{{ dato.monto_pago|clp_format }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="tabla1" style="min-height:200px">
                            <tr>
                                <th>Banco</th>
                                <th>Forma de pago</th>
                                <th>N° DOcumento</th>
                                <th>Fecha</th>
                                <th>UF</th>
                                <th>$</th>
                            </tr>
                            <tbody class="table-border-bottom-0">
                            <tr>
                                <td colspan='4'><span class="border-info me-1"><i
                                        class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <!-- Fin Detalle Pie-->

                    <p>Atte.,</p>
                    <p>Marta Olivares Castro.</p>
                    <p>Subgerente de Ventas y OO.PP.</p>
                </div>
            </div>
        </div>
        <hr class="my-0">
    </div>
</div>
<!-- /Invoice -->
</body>
</html>